<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>joypad_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,560},{278,278}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{278,278}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>joypad_DL.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,280},{278,278}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{278,278}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>joypad_DR.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,560},{278,278}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{278,278}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>joypad_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,280},{278,278}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{278,278}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>joypad_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{278,278}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{278,278}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>joypad_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{278,278}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{278,278}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>joypad_U.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{278,278}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{278,278}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>joypad_UL.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{278,278}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{278,278}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>joypad_UR.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,278}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{278,278}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>joypad-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bac13c1c11c8f6d23de5bc92f2754e9$</string>
            <key>textureFileName</key>
            <string>joypad-hd.png</string>
        </dict>
    </dict>
</plist>
