<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>joypad_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,282},{139,139}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{139,139}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>joypad_DL.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,141},{139,139}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{139,139}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>joypad_DR.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,282},{139,139}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{139,139}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>joypad_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,141},{139,139}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{139,139}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>joypad_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{139,139}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{139,139}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>joypad_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,0},{139,139}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{139,139}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>joypad_U.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{139,139}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{139,139}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>joypad_UL.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{139,139}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{139,139}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>joypad_UR.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{139,139}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{139,139}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>joypad.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd0eb1e570c806dbd08985a0b3ca5eca$</string>
            <key>textureFileName</key>
            <string>joypad.png</string>
        </dict>
    </dict>
</plist>
